body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar"
    "router";
  height: 100vh;
  min-width: 320px;
  background-color: gainsboro;
  font-family: "Roboto Mono", monospace;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="submit"],
button {
  background-color: #ffff66;
  color: black;
  border: none;
  padding: 0.5em;
  font: inherit;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: white;
  color: black;
  border: none;
  padding: 0.5em;
  font: inherit;
  cursor: pointer;
}

input[type="text"] {
  font-family: "Roboto Mono", sans-serif;
}

.Error {
  padding: 1em;
}

.Error p {
  text-align: center;
}
