body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar"
    "router";
  height: 100vh;
  min-width: 320px;
  background-color: gainsboro;
  font-family: "Roboto Mono", monospace;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
