.Article {
  display: grid;
  margin: 1px;
  padding: 0.5em;
  grid-template-rows: 1fr 1em 1em;
  grid-template-columns: 1em 1fr;
  grid-template-areas:
    "title title"
    "avatar author"
    "controls controls";
}

li {
  list-style-type: none;
  background-color: white;
  margin-bottom: 4px;
  margin-top: 4px;
}

.Article > * {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.Article .avatar {
  grid-area: avatar;
  margin: 0;
}

.Article .avatar img {
  height: 100%;
  width: 100%;
  background-color: palevioletred;
  border-radius: 50%;
}

.Article .title {
  font-weight: bold;
  text-align: left;
  grid-area: title;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.Article .topic {
  grid-area: topic;
  margin-top: 0.125em;
  margin-left: 0.125em;
  font-size: 0.8em;
}

.Article .author {
  grid-area: author;
  color: darkslategray;
  margin: 0.5em;
  margin-left: 0.5em;
  font-size: 0.8em;
  align-self: center;
}

.Article .controls {
  grid-area: controls;
  margin-bottom: 0.25em;
}
