.Article {
  background-color: white;
  display: grid;
  margin: 1px;
  padding: 0.5em;
  grid-template-rows: auto 2em 1fr;
  grid-template-columns: 2em 1fr 4em;
  grid-template-areas:
    "title title title"
    "avatar author votes"
    "body body body";
}

li {
  list-style-type: none;
  margin-bottom: 4px;
  margin-top: 4px;
}

.Article > * {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.Article .avatar {
  grid-area: avatar;
  margin: 0;
}

.Article .avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.Article .title {
  text-align: left;
  grid-area: title;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.Article .title a:link,
.Article .title a:visited {
  color: black;
  text-decoration: none;
}

.Article .topic {
  grid-area: topic;
  margin-top: 0.125em;
  margin-left: 0.125em;
  font-size: 0.8em;
}

.Article .author {
  grid-area: author;
  color: darkslategray;
  margin: 0.5em;
  margin-left: 0.5em;
  font-size: 0.8em;
  align-self: center;
}

.Article .Body {
  grid-area: body;
  font-weight: lighter;
  margin-top: 1em;
}

.Votes {
  grid-area: votes;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "down count up";
  justify-items: center;
  align-items: center;
  margin: 0;
}

.Votes .down {
  grid-area: down;
}

.Votes .count {
  grid-area: count;
}

.Votes .up {
  grid-area: up;
}

.Votes .Voted {
  color: #ffff66;
}
