.CommentsHeader {
  background-color: white;
}

h3 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.ArticlePage {
  list-style: none;
  background-color: lightgray;
  height: 100%;
}

.Loading {
  padding: 1em;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .ArticlePage {
    width: 640px;
  }
}

@media only screen and (max-width: 320px) {
  .ArticlePage {
    width: 320px;
  }
}
