.ContentOptions {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "sort order";
  justify-items: center;
  background-color: royalblue;
  height: auto;
}

.ContentOptions .Dropdown {
  font-size: 0.8em;
  height: 2em;
}
