.Dropdown {
  cursor: pointer;
  background-color: lightgreen;
  z-index: 1;
  text-align: left;
  height: 2em;
}

.Dropdown .display {
  display: grid;
  grid-template-columns: 1fr 2em;
  grid-template-areas: "selected arrow";
  height: 100%;
}

.Dropdown .display span {
  margin: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  align-self: center;
}

.Dropdown-List-Inactive {
  padding: 0px;
  margin: 0px;
  height: 0px;
  background-color: white;
  visibility: hidden;
}

.Dropdown-List-Active {
  position: relative;
  margin: 0px;
  background-color: #ffff66;
  height: auto;
}

.Dropdown-List-Active hr {
  margin: 0;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.Dropdown-Li {
  padding: 0.5em;
  margin: 0;
}

.Dropdown .selected {
  grid-area: selected;
}

.Dropdown .arrow {
  grid-area: arrow;
  align-self: center;
  padding-bottom: 0.2em;
  text-align: center;
}

.Dropdown-Li:hover {
  background-color: white;
  color: black;
}
