.Dropdown {
  cursor: pointer;
  background-color: yellow;
  z-index: 1;
  text-align: center;
  height: 2em;
}

.Dropdown p {
  margin: 0.25em;
}

.Dropdown-List-Inactive {
  padding: 0px;
  margin: 0px;
  height: 0px;
  background-color: white;
  visibility: hidden;
}

.Dropdown-List-Active {
  position: relative;
  margin: 0px;
  background-color: #ffff66;
}

.Dropdown-Li {
  padding: 5px;
}

.Dropdown-Li:hover {
  background-color: silver;
  color: red;
}
