.Navbar {
  grid-area: navbar;
  display: grid;
  grid-template-columns: 1fr 4em;
  grid-template-areas: "title user";
  padding: 0;
  margin: 0;
  background-color: cornflowerblue;
}

.Navbar .title {
  text-align: left;
  background-color: pink;
  font-family: "Merriweather", serif;
  align-self: center;
  justify-self: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

h2 {
  padding: 0;
  margin: 0;
  margin-left: 0em;
  margin-right: 0;
  justify-self: left;
  font-weight: lighter;
}

.UserIcon {
  grid-area: user;
  margin: 0.5em;
  justify-self: right;
}

.UserIcon img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}
