.Navbar {
  grid-area: navbar;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "title dropdown user";
  padding: 0;
  margin: 0;
  background-color: white;
}

.Navbar .Title {
  text-align: center;
  background-color: lightgreen;
  align-self: center;
  justify-self: left;
  margin: 0.5em;
  padding: 0.25em;
  width: 2.25em;
}

.Navbar .Dropdown {
  align-self: center;
  margin: 0.5em;
  z-index: 2;
  background-color: royalblue;
  max-width: 10em;
}

.Navbar .Dropdown ul {
  background-color: royalblue;
  width: 100%;
}

.Navbar .Title a:link,
.Navbar .Title a:visited {
  color: black;
  text-decoration: none;
}

h2 {
  padding: 0;
  margin: 0;
  margin-left: 0em;
  margin-right: 0;
  justify-self: left;
  font-weight: lighter;
}
