.Navbar {
  grid-area: navbar;
  display: grid;
  grid-template-columns: 12em 1fr;
  grid-template-areas: "title nav";
  padding: 0;
  margin: 0;
  background-color: cornflowerblue;
}

.Navbar .title {
  text-align: left;
  background-color: pink;
  font-family: "Merriweather", serif;
  align-self: center;
  justify-self: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

h2 {
  padding: 0;
  margin: 0;
  margin-left: 0em;
  margin-right: 0;
  justify-self: left;
}
