.NewArticle {
  text-align: center;
}

.articleForm {
  padding: 0.5em;
}

.NewArticle a:link,
.NewArticle a:visited {
  color: black;
  text-decoration: none;
}

.NewArticle .titleInput {
  min-width: 20em;
  margin: 0;
  padding: 0;
}

.NewArticle .articleForm {
  width: auto;
}

.NewArticle .articleTextarea {
  min-width: 20em;
  min-height: 10em;
  margin: 1;
  padding: 0.5px;
}
