.NewComment {
  text-align: center;
  background-color: coral;
  padding: 0.5em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  display: grid;
}

.commentForm {
  padding: 0.5em;
  width: auto;
}

.NewComment .commentTextarea {
  width: calc(100% - 0.5em);
  min-height: 10em;
  padding: 0.25em;
  border-width: 0;
}

.NewComment textarea {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: "Roboto Mono", sans-serif;
}
