.Tray {
  cursor: pointer;
  background-color: palegoldenrod;
  z-index: 1;
  text-align: center;
  height: 2em;
}

.Tray p {
  margin: 0.25em;
}

.Tray-List-Inactive {
  padding: 0px;
  margin: 0px;
  height: 0px;
  background-color: white;
  visibility: hidden;
}

.Tray-List-Active {
  position: relative;
  margin: 0px;
  background-color: white;
}

.Tray-Li {
  padding: 5px;
}
