.Votes {
  grid-area: votes;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "down count up";
  justify-items: center;
  align-items: center;
  margin: 0;
}

.Votes .down {
  grid-area: down;
}

.Votes .count {
  grid-area: count;
}

.Votes .up {
  grid-area: up;
}

.Votes .Voted {
  color: coral;
}
